.contest-list {
  //   display: grid;
  //   grid-template-columns: repeat(5, minmax(240px, 1fr));
  //   grid-gap: 1rem;
  //   padding-top: 10px;

  .contest-preview {
    display: grid;
    align-items: center;
    grid-template-columns: 90% 10%;
    // display: flex;

    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: white;
    .group-contest {
      cursor: pointer;
      padding: 20px;
    }
    div.category-name h5 {
      white-space: nowrap;
      width: auto;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 800;
      font-size: large;
    }
    div.contest-name p {
      white-space: nowrap;
      width: auto;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 300;
    }
  }
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    .dropdown-content {
      display: block;
    }
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      &:hover {
        background-color: #f1f1f1;
      }
    }
  }
}

.contest-details {
  padding: 0 20rem;
}
